.container {
  background-image: url(./img/Hubble_ultra_deep_field.jpg);
}

.div {
  padding: 20px 20px;
  background-image: linear-gradient(
    to top,
    #020202 0%,
    #3182c9 15%,
    #409477 35%,
    #726f6f 52%,
    #7046aa 71%,
    #196c21 87%,
    #020f75 100%
  );
}
